<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>
    <!--<properties>-->
        <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>-->
        <!--<property name="userName" value="root"/>-->
        <!--<property name="password" value="sang"/>-->
    <!--</properties>-->
        <!--<typeAlias type="org.User" alias="user"/>-->
        <!--&lt;!&ndash;<setting name="autoMappingBehavior" value="NONE"/>&ndash;&gt;-->
    <!--<settings>-->
        <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
    <!--</settings>-->
    <typeAliases>
        <package name="org.sang.bean"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="org.sang.db.SqlInterceptor">
        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
        <!--<package name="org.sang.db"/>-->
        <!--<mapper class="org.UserMapper"/>-->
        <!--<mapper url="file:///home/sang/workspace/JavaEE/Test27-mybatis4/src/main/resources/userMapper.xml"/>-->
    <mappers>
        <mapper resource="userMapper.xml"/>
    </mappers>
</configuration>